<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Convo Cafe | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery_popup.css" /> 
    
    
    
    
  
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css" rel="stylesheet">
   

</head>

<body>
  <div class="divBackgroundImage" style="background-image: url(img/worldmap.jpg);">
                    </div>
    <nav class="navbar navbar-default">
     <div class="container-fluid">
    
    <a class="navbar-brand" href="/"><img src="img/logo1.png" width = 75px heigth = 75px class="img-circle"/></a>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

        <li><a href="/">Home</a></li>
        <li><a href="/profile"><div>My Profile</div></a></li>
        <li><a href="/participatingrestaurants">Participating Restaurants</a></li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Options<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="popupLI">Log In</a></li>
            <li><a href="/createuser">Create an Account</a></li>
            <li><a id="popupAL">Ability Level Descriptions</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        
      </ul>
      
      
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <div class="container">

      <div class="row">
         <div class="box">
            <div class="col-lg-12 text-center">
              <form id="createUserForm"> 
      		      <div class="well well-lg"> 
        		    <h3 class="fs-title">Create User</h3>
                	    <h3 class="fs-subtitle">Step 1 of 4</h3>
                	    <h3 class="fs-subtitle">Login Information</h3>
                	    
                	    
      <div class="form-group">
          <label for="name">Name</label>
            <input type="input" class="form-control" name="name" id="name" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="email">Email Address</label>
            <input type="email" class="form-control" name ="email" id="email" placeholder="Email">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="password">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
      
      </div>
      </div>
      
      <br/>
      <br/>

             <div class="well well-lg"> 
            <h3 class="fs-title">Create User</h3>
                	    <h3 class="fs-subtitle">Step 2 of 4</h3>
                	    <h3 class="fs-subtitle">Personal Information</h3>
          <div class="form-group">
        <label for="streetAddress">Street Address</label>
            <input type="input" class="form-control" name="streetAddress" id="streetAddress" placeholder="Street Address">

        </div>
       <div class="form-group">
        <label for="city">City</label>
            <input type="input" class="form-control" name="city" id="city" placeholder="City">
        </div>
        <div class="form-group">
          <label for="state">State</label>
            <input type="input" class="form-control" name="state" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="zip">Zip Code</label>
            <input type="input" class="form-control" name="zip" id="zip" placeholder="Zip Code">
        </div>
        <br/>
         <div class="dropdown">
      	<label for="ageRangeId">Age Range</label>
				<select class="form-control" name="ageRangeId" id="ageRangeId">
					<option value="1">18-22</option>
					<option value="2">23-30</option>
					<option value="3">31-40</option>
					<option value="4">41-50</option>
					<option value="5">51-65</option>
					<option value="6">65+</option>
				</select>
		</div>
		<br/>
		<div class="dropdown">
			<label for="gender">Gender</label>
				<select class="form-control" name="gender" id="gender">
					<option value="Female">Female</option>
					<option value="Male">Male</option>
				</select>
		</div>
        <br/>
        <div class="dropdown">
            <label for="firstLanguageId">First Language</label>
                <select class="form-control" name="firstLanguageId" id="firstLanguageId">
                	<option value="1">English</option>
                    <option value="2">Spanish</option>
                    <option value="3">French</option>
                    <option value="4">Italian</option>
                    <option value="5">German</option>
                    <option value="6">Japanese</option>
                </select>
        </div>
        <br/>
        <div class="dropdown">
            <label for="learningLanguageId">Learning Language</label>
                <select class="form-control" name="learningLanguageId" id="learningLanguageId">
                    <option value="1">English</option>
                    <option value="2">Spanish</option>
                    <option value="3">French</option>
                    <option value="4">Italian</option>
                    <option value="5">German</option>
                    <option value="6">Japanese</option>
                </select>
            </div>
        </div>

		<br/>
        <br/>

         <div class="well well-lg">
         
         <h3 class="fs-title">Create User</h3>
            <h3 class="fs-subtitle">Step 3 of 4</h3> 
            
            <br/>
            <h3 class="fs-subtitle">Choose Your Ability Level</h3>
        
         
          
            <label for="skillLevelId">Skill Level</label>
            <div class="dropdown">
                    <select class="form-control" name="skillLevelId" id="skillLevelId">
                        <option value="1">Beginner</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Advanced</option>
                    </select>
            </div>
            <br/>
            <div class="form-group">
            	<h3 class="fs-subtitle">Tell Other Language Learners About Yourself</h3>
                    <label for="aboutMe">About Me:</label>
                    <textarea class="form-control" rows="5" name="aboutMe" id="aboutMe"
                        placeholder="optional"></textarea>
            </div>
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="lng" id="lng">

        </div>


		<br/>
      	<br/>


    <div class="well well-lg">
        <div class="row" >
              
                <div class="col-lg-12 text-center">
                
                    <h3 class="fs-title">Create User</h3>
                    <h3 class="fs-subtitle">Step 4 of 4</h3>
                <div class="row">
                <div class="col-lg-12" >
                    <h3 class="fs-subtitle">Choose An Avatar For Your Profile</h3>
                </div>
                </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/fish.png" alt="">
                    <h3>Fish</h3>
                    <input type="radio" name="avitar" value="fish">
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/cat.png" alt="">
                    <h3>Cat</h3>
                    <input type="radio" name="avitar" value="cat">
            	</div>
            </div>
            
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/whale.png" alt="">
                    <h3>Whale</h3>
                    <input type="radio" name="avitar" value="whale">
                    
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/shark.png" alt="">
                    <h3>Shark</h3>
                    <input type="radio" name="avitar" value="shark">
               </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                	
                    	<img height="150px" width="150px" class="center-block img-responsive" src="img/bird.png" alt="">
                    	<h3>Bird</h3>
                 		<input type="radio" name="avitar" value="bird">
                </div>
                
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/pony.png" alt="">
                    <h3>Pony</h3>
                    <input type="radio" name="avitar" value="pony">
                </div>
            </div>
            
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/cow.png" alt="">
                    <h3>Cow</h3>
                    <input type="radio" name="avitar" value="cow">
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/duck.png" alt="">
                    <h3>Duck</h3>
                    <input type="radio" name="avitar" value="duck">
                </div>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/bunny.png" alt="">
                    <h3>Bunny</h3>
                    <input type="radio" name="avitar" value="bunny">
                    </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/dog.png" alt="">
                    <h3>Dog</h3>
                    <input type="radio" name="avitar" value="dog">
                </div>
            </div>
            
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/turtle.png" alt="">
                    <h3>Turtle</h3>
                    <input type="radio" name="avitar" value="turtle">
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="well well-sm">
                
                    <img height="150px" width="150px" class="center-block img-responsive" src="img/bluebird.png" alt="">
                    <h3>Bluebird</h3>
                    <input type="radio" name="avitar" value="bluebird">
                </div>
            </div>
        </div>

                </div>

            </div>
             
            
        </div>
        <button class="btn btn-default btn-lg" id="createUserButton">Submit New User</button>
        </div> <!--well-->
           
    </form>
        
            


        </div><!--ends box-->
    </div><!--row-->
</div><!--container-->

    
    <!-- /.container -->
     <div id="container">
     	<div id="footer">
   			<div class="row">
             
              <div style="text-align:center" class= "socialBar">
              	<span class="social">
                	<a title="follow me on Twitter" href="http://www.twitter.com/ConvoCafeMD"><img alt="follow me on Twitter" src="img/Twitter-icon.png" width="100px" height="100px"></a>
                <span class="twitterSpace"></span>
                	<a title="follow me on facebook" href="http://www.facebook.com/ConvoCafe"><img alt="follow me on facebook" src="img/facebook-icon(1).ico" width="100px" height="100px"></a>
                <span class="facebookSpace"></span>
                	<a title="follow me on instagram" href="http://www.instagram.com/ConvoCafe"><img alt="follow me on instagram" src="img/instaIcon.jpg" width="100px" height="100px"></a>
                <span class="instaSpace"></span>
                	<a title="follow me on google plus" href="https://plus.google.com/u/0/100850869893908489916"><img alt="follow me on google plus" src="img/Google-plus-icon.png" width="100px" height="100px"></a>
              </span>
              </div>
              <br>
              <div class="col-lg-12 text-center">
                  <p>Copyright ConvoCafe; CC 2016</p>
              </div>
           </div>
    </div>
</div>



  

 
  
    <!-- jQuery -->
    
   
    <script src="js/jquery.js"></script>
    
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
       	
   	<script src="js/formValidation.js"></script>
    <script src="js/form.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery_popup.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb-8rUIYnfQ7Rg15sWA0eYMtfarAa-wvQ"></script>

    
    
    <script>
    $(function(){
    	
    	$("#createUserButton").click(function(event){
    		event.preventDefault();
    		var address = $("#streetAddress").val() + " " + $("#city").val() + ", " + $("#state").val();
    		console.log(address);
    		geoCodeAddress(address);
    		
    	});
    	

    	function geoCodeAddress(address){
    		var lat;
    		var lng;
    		var geocoder = new google.maps.Geocoder();
    			
    			geocoder.geocode( { 'address': address}, function(results, status) {
    		      if (status == 'OK') {
    		    	  lat = results[0].geometry.location.lat();
    		    	  lng = results[0].geometry.location.lng();
    		    	  console.log(lat);
    		    	  console.log(lng);
    		    	  
    		    	  console.log(lat + ", " + lng);
    		    		$("#lat").val(lat);
    		    		$('#lng').val(lng);
    		    		$.post("/user", $("#createUserForm").serialize(), function(data){
    		    			console.log("Success")
    		    			location.href = "/profile";
    		    		}).error(function(){
    		    			console.log("Failure");
    		    			
    		    		})
    		    	  
    		    	  
    		    	  
    				
    		      } else {
    		        console.log('Geocode was not successful for the following reason: ' + status);
    		      }
    			})
    			
    			
    		
    			
    	  };
    	
    	
    	
    	
    });
    
    
    </script>



</body>

</html>