<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Convo Cafe | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery_popup.css" /> 
    
    
    
    <link href="css/dialog.css" rel="stylesheet"> 
  
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css" rel="stylesheet">
   

</head>

<body>
  <div class="divBackgroundImage" style="background-image: url(img/worldmap.jpg);">
                    </div>
    <nav class="navbar navbar-default">
     <div class="container-fluid">
    
    <a class="navbar-brand" href="/"><img src="img/logo1.png" width = 75px heigth = 75px class="img-circle"/></a>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

        <li><a href="/">Home</a></li>
        <li><a href="/profile"><div>My Profile</div></a></li>
        <li><a href="/participatingrestaurants">Participating Restaurants</a></li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Options<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="popupLI">Log In</a></li>
            <li><a href="/createuser">Create an Account</a></li>
            <li><a id="popupAL">Ability Level Descriptions</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        
      </ul>
      
      
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <div class="container">

            <div class="row">
              <div class="box">
                <div class="col-lg-12 text-center">
                
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/logo.png" alt="">
                            <br/>
                        </div>
                    </div> <!--ends col-lg-12-->
                    <!-- <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2> -->
                    <h2 class="brand-before">Getting Started:<span style="color:red;" th:text="${session.loginMessage}"></span></h2>
                    <!-- <h1 class="brand-name">Getting Started</h1> -->
                    <hr class="tagline-divider">
                    
                    <h2>
                        <strong><a href="/createuser">Create an Account</a> or <a id="popupLI2">log-in</a> to meet with other language learners in your area</strong>
                        
                    </h2>
                </div><!--ends box-->
            </div><!--row-->
    </div><!--container-->
    <div class="container">
           
            <div class="row">
              <div class="box">
                <div class="col-lg-12 text-center">
                
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/hello.png" alt="">
                        </div>
                    </div> <!--ends col-lg-12-->
                    <br/>
                    <h1 class="brand-name">About Us:</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>Mission Statement:
                            <strong>At Convo Cafe, we believe that no one should have to learn a new language all on their own. That is why we are dedicated to building a community of devoted, passionate, and, above all, friendly individuals to make the world just a little more conversational.</strong>
                        </small>
                    </h2>
                </div><!--ends box-->
            </div><!--row-->

    </div><!--container-->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    
    <!-- /.container -->
     <footer>
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; CC 2016</p>
                </div>
                <div style="text-align:center">
                <a target="_blank" title="follow me on Twitter" href="http://www.twitter.com/ConvoCafeMD"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
                              
                <a target="_blank" title="follow me on facebook" href="http://www.facebook.com/ConvoCafe"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
                               
                <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/ConvoCafe"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
                <a target="_blank" title="follow me on google plus" href="https://plus.google.com/u/0/100850869893908489916"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
                </div>
            </div> 
         </div>
    </footer>

    <div id="dialog1" title="Log In">
        
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
             </div>
  
            <button class="btn btn-default" id="loginButton">Submit</button>
        </form>

    </div>


  

  <!-- <form id="createUserForm" name="createUserForm" action="post">
     <fieldset id="dialog2">

      
        <h3 class="fs-title">Create User</h3>
          <h3 class="fs-subtitle">Step 1</h3>
      <div class="form-group">
          <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="email">Email Address</label>
            <input type="email" class="form-control" name ="email" id="email" placeholder="Email">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="password">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
      
      </div>
      <div class="dropdown">
      	<label for="ageRangeId">Age Range</label>
				<select class="form-control" name="ageRangeId" id="ageRangeId">
					<option value="1">18-22</option>
					<option value="2">23-30</option>
					<option value="3">31-40</option>
					<option value="4">41-50</option>
					<option value="5">51-65</option>
					<option value="6">65+</option>
				</select>
		</div>
		<div class="dropdown">
			<label for="gender">Gender</label>
				<select class="form-control" name="gender" id="gender">
					<option value="Female">Female</option>
					<option value="Male">Male</option>
				</select>
		</div>
        <input id="next1" type="button" name="next" class="next action-button" value="Next"/>
      
    </fieldset> 


    <fieldset id="dialog2a"> 
       <div class="form-group">
        <label for="streetAddress">Street Address</label>
            <input type="text" class="form-control" name="streetAddress" id="streetAddress" placeholder="Street Address">

        </div>
       <div class="form-group">
        <label for="city">City</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City">
        </div>
        <div class="form-group">
          <label for="state">State</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="zip">Zip Code</label>
            <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip Code">
        </div>
        
        <div class="dropdown">
        	<label for="firstLanguageId">First Language</label>
				<select class="form-control" name="firstLanguageId" id="firstLanguageId">
					<option value="1">English</option>
					<option value="2">Spanish</option>
					<option value="3">French</option>
					<option value="4">Italian</option>
					<option value="5">German</option>
					<option value="6">Japanese</option>
				</select>
		</div>
		<div class="dropdown">
			<label for="learningLanguageId">Learning Language</label>
				<select class="form-control" name="learningLanguageId" id="learningLanguageId">
					<option value="1">English</option>
					<option value="2">Spanish</option>
					<option value="3">French</option>
					<option value="4">Italian</option>
					<option value="5">German</option>
					<option value="6">Japanese</option>
				</select>
			</div>

        
        <input id="next2" type="button" name="next" class="next action-button" value="Next"/>
        
     </fieldset> 


    <fieldset id="dialog2b"> 
    	<label for="skillLevelId">Skill Level</label>
        	<div class="dropdown">
					<select class="form-control" name="skillLevelId" id="skillLevelId">
						<option value="1">Beginner</option>
						<option value="2">Intermediate</option>
						<option value="3">Advanced</option>
					</select>
			</div>
			<div class="form-group">
					<label for="aboutMe">About Me:</label>
					<textarea class="form-control" rows="5" name="aboutMe" id="aboutMe"
						placeholder="optional"></textarea>
			</div>
  
        <input id="next3" type="button" name="next" class="next action-button" value="Next"/>       
    </fieldset>
    <fieldset id="dialog2c">  
               
  					 
        <button class="btn btn-default" id="createUserButton">Submit</button>       
    </fieldset>
  </form><!--create user form tag-->   -->

  

    <!-- </div>create user form div -->
  
    <!-- jQuery -->
    
   
    <script src="js/jquery.js"></script>
    
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"></script>
    <script src="js/form.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery_popup.js"></script>
    
    
    <script>
    $(function(){
    	$("#loginButton").click(function(event){
    		event.preventDefault();
    		$.post("/login", $("#loginForm").serialize(), function(data){
    			location.href = "/profile";
    		}).error(function(){
    			alert("Email or Password do not match");
    			
    		})
    	});
    	
    	/*$("#createUserButton").click(function(event){
    		event.preventDefault();
    		$.post("/user", $("#createUserForm").serialize(), function(data){
    			console.log("Success")
    			location.href = "/profile";
    		}).error(function(){
    			console.log("Failure");
    			
    		})
    	});*/
    	
    });
    
    
    </script>



</body>

</html>