<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Convo Cafe | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery_popup.css" /> 
    
    
    
    <link href="css/dialog.css" rel="stylesheet"> 
  
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css" rel="stylesheet">
   

</head>

<body>
  <div class="divBackgroundImage" style="background-image: url(img/worldmap.jpg);">
                    </div>
    <nav class="navbar navbar-default">
     <div class="container-fluid">
    
    <a class="navbar-brand" href="/"><img src="img/logo1.png" width = 75px heigth = 75px class="img-circle"/></a>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

        <li><a href="/">Home</a></li>
        <li><a href="/profile"><div>My Profile</div></a></li>
        <li><a href="/participatingrestaurants">Participating Restaurants</a></li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Options<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="popupLI">Log In</a></li>
            <li><a href="/createuser">Create an Account</a></li>
            <li><a id="popupAL">Ability Level Descriptions</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        
      </ul>
      
      
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <div class="container">

            <div class="row">
              <div class="box">
                <div class="col-lg-12 text-center">
                
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/logo.png" alt="">
                            <br/>
                        </div>
                    </div> <!--ends col-lg-12-->
                    <!-- <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2> -->
                    <h2 class="brand-before">Getting Started:</h2>
                    <!-- <h1 class="brand-name">Getting Started</h1> -->
                    <hr class="tagline-divider">
                    
                    <h2>
                        <strong><a href="/createuser">Create an Account</a> or <a id="popupLI2">log-in</a> to meet with other language learners in your area</strong>
                        
                    </h2>
                </div><!--ends box-->
            </div><!--row-->
    </div><!--container-->
    <div class="container">
           
            <div class="row">
              <div class="box">
                <div class="col-lg-12 text-center">
                
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/hello.png" alt="">
                        </div>
                    </div> <!--ends col-lg-12-->
                    <br/>
                    <h1 class="brand-name">About Us:</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>At Convo Cafe, we know that learning a language is hard work, so we try to make it as fun as possible. We believe that no one should have to learn a new language all on their own, and we are dedicated to building a community of devoted, passionate, and, above all, <underline>friendly</underline> individuals to make the world just a little more conversational.</strong>
                        </small>
                    </h2>
                </div><!--ends box-->
            </div><!--row-->

    </div><!--container-->

    
    <!-- /.container -->
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     
     	<div id="footer">
   			<div class="row">
             
              <div style="text-align:center" class= "socialBar">
              	<span class="social">
                	<a title="follow me on Twitter" href="http://www.twitter.com/ConvoCafeMD"><img alt="follow me on Twitter" src="img/Twitter-icon.png" width="100px" height="100px"></a>
                <span class="twitterSpace"></span>
                	<a title="follow me on facebook" href="http://www.facebook.com/ConvoCafe"><img alt="follow me on facebook" src="img/facebook-icon(1).ico" width="100px" height="100px"></a>
                <span class="facebookSpace"></span>
                	<a title="follow me on instagram" href="http://www.instagram.com/ConvoCafe"><img alt="follow me on instagram" src="img/instaIcon.png" width="90px" height="90px"></a>
                <span class="instaSpace"></span>
                	<a title="follow me on google plus" href="https://plus.google.com/u/0/100850869893908489916"><img alt="follow me on google plus" src="img/Google-plus-icon.png" width="90px" height="90px"></a>
              </span>
              </div>
              <br>
              <div class="col-lg-12 text-center">
                  <h4>&copy ConvoCafe: CC 2016</h4>
              </div>
           </div>
    </div>


    <div id="dialog1" title="Log In">
        
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
             </div>
  
            <button class="btn btn-default" id="loginButton">Submit</button>
        </form>

    </div>
  
  
    <!-- jQuery -->
    
   
    <script src="js/jquery.js"></script>
    
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"></script>
    <script src="js/form.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery_popup.js"></script>
    
    
    <script>
    $(function(){
    	$("#loginButton").click(function(event){
    		event.preventDefault();
    		$.post("/login", $("#loginForm").serialize(), function(data){
    			location.href = "/profile";
    		}).error(function(){
    			alert("Email or Password do not match");
    			
    		})
    	});
    	
    	/*$("#createUserButton").click(function(event){
    		event.preventDefault();
    		$.post("/user", $("#createUserForm").serialize(), function(data){
    			console.log("Success")
    			location.href = "/profile";
    		}).error(function(){
    			console.log("Failure");
    			
    		})
    	});*/
    	
    });
    
    
    </script>



</body>

</html>