<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- SITE TITLE -->
    <title>Convo Cafe | Profile</title>            
        <!-- Latest Bootstrap min CSS -->
         <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery_popup.css" />

      
    <!-- <link href="css/dialog.css" rel="stylesheet"> -->
        <!-- Google Font -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css" rel="stylesheet">
  
   

   

</head>

<body>
<div class="divBackgroundImage" style="background-image: url(img/worldmap.jpg);">
</div>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/"><img src="img/logo1.png" width = 75px heigth = 75px class="img-circle"/></a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="/">Home</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/participatingrestaurants">Participating Restaurants</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Options<span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li><a href="/logout">Logout</a>
            <li><a id="popupUU">Update Profile</a></li>
            <li><a id="popupDU">Delete Profile</a></li>
            <li><a id="popupAL">Ability Level Descriptions</a></li>
          </ul>
        </li>
      </ul>
      
      
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <!-- Navigation -->

 <div class="container">
 <section class="main-section">

<div class="userProfile">

<div class="userMatches">




</div>

 </section>
 </div>      
                  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <footer>
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; CC 2016</p>
                </div>
                <div style="text-align:center">
                <a target="_blank" title="follow me on Twitter" href="http://www.twitter.com/ConvoCafeMD"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
                              
                <a target="_blank" title="follow me on facebook" href="http://www.facebook.com/ConvoCafe"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
                               
                <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/ConvoCafe"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
                <a target="_blank" title="follow me on google plus" href="https://plus.google.com/PlaceHolder"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
                </div>
            </div> 
         </div>
    </footer>

<div id="dialog3" title="Delete User">
  <form>
    <h2>Delete User</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Delete Profile</button>
  <br/>
  <br/>
  </form>
</div>
                       
  

<div id="dialog4" title="Update User">
  <form>
    <h2>Update User</h2>
      <form action="/update" method="POST" class="form-horizontal" id="updateUser">
        <div class="form-group">
          <label for="userName" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
            </div>
        </div>
            <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">City</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">State</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Age Range
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Under 18</a></li>
                <li><a href="#">18-30</a></li>
                <li><a href="#">31-45</a></li>
                <li><a href="#">45-60</a></li>
                <li><a href="#">60+</a></li>
              </ul>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Ability Level
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Beginner</a></li>
                <li><a href="#">Intermediate</a></li>
                <li><a href="#">Advanced</a></li>
                <li><a href="#">Teacher</a></li>
              </ul>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Upload Profile Image</label>
              <input type="file" id="exampleInputFile">
            </div>
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose Your Learning Language
            <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Spanish</a></li>
                <li><a href="#">French</a></li>
                <li><a href="#">Italian</a></li>
                <li><a href="#">Portuguese</a></li>
                <li><a href="#">German</a></li>
                <li><a href="#">Japanese</a></li>
              </ul>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
  </form>
</div>


<div id="dialog5" title="Ability Levels">
  <button class="btn btn-info btn-lg btn-block" role="alert">
    <p>Beginner</p>
      <br/>
        <p>You are new to the language. You can say "hello" and ask where the library is, but that is about it. <br/> Learners will spend a lot of their time working through challenges with the languages together. <p>
  </button>
      <br/>
  <button class="btn btn-warning btn-lg btn-block" role="alert">
        <p>Intermediate</p>
      <br/>
        <p>You are comfortable (or getting comfortable) with the language, but you are far from fluent.<br/> You will be able to have a conversation with few difficulties.</p>
  </button>
      <br/>
  <button class="btn btn-success btn-lg btn-block" role="alert">
        <p>Advanced</p>
      <br/>
        <p>You are fluent in the language you are learning. The vast majority <br/>of the meeting will take place in the second language.</p>
  </button>
      <br/>
  <button class="btn btn-primary btn-lg btn-block" role="alert">
      <p>Teaching Track</p>
      <br/>
      <p>You are willing to volunteer your services and work with learners in order to help<br/> learn a new language. You are open to working with people in any of the other 3 tracks.</p>
  </button>
</div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"></script>
    <script src="js/profile.js"></script>
    <script src="js/form.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->

    
    
    


</body>

</html>